<a href="https://colab.research.google.com/github/jeevankumar20/INFO_5731_Spring2023/blob/main/Jeevan_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
s1="hello"
print(len(s1))

5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
mystring="google.com"
dic={}
for c in mystring:
    if c in dic:
        dic[c]+=1
    else:
        dic[c]=1
print(dict(sorted(dic.items(), key=lambda x: x[1], reverse=True)))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
num=[1, 2, 3, 4, 5]
print(sum(num))

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [6]:
# write your answer here

s_string="restart"
f_char=s_string[0]
n_string=s_string.replace(f_char, '$')
n_string=f_char+n_string[1:]
print(n_string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [7]:
a=int(input("Enter A value"))
b=int(input("Enter B value"))
def fun(a,b):
    result=3.14*((1+a/b)**3)
    return result
fun(a,b)

Enter A value4
Enter B value5

18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
newdict={**dic1, **dic2, **dic3}
print(newdict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [9]:
# write your answer here
tup=(1,2,3,4,5,6)
ele=3
if(ele in tup):
    print("Element is present")
else:
    print("Element is not present")

Element is present

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [10]:
# write your answer here
my_set = {1, 2, 3, 4, 5}

maximum = max(my_set)
minimum = min(my_set)

print("Maximum value in set:", maximum)
print("Minimum value in set:", minimum)

Maximum value in set: 5
Minimum value in set: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [11]:
import random

student_list=['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
num_groups=6
group_size=(len(student_list)+num_groups-1)//num_groups
random.shuffle(student_list)
grouped_students=[student_list[i:i+group_size] for i in range(0, len(student_list), group_size)]
for i, group in enumerate(grouped_students):
    print("Group {}: {}".format(i+1, group))

Group 1: ['ja0964', 'hy0232', 'sa1198', 'sk1386', 'bg0320']
Group 2: ['sk1458', 'gn0108', 'kg0470', 'fh0141', 'aos0040']
Group 3: ['sb1357', 'sm1907', 'ms1500', 'ak0956', 'nv0234']
Group 4: ['pr0353', 'sg1297', 'vm0377', 'ak0934', 'nm0618']
Group 5: ['sk1390', 'sm1640', 'sk1313', 'dr0609', 'ds0814']
Group 6: ['kg0569', 'jl1252', 'sc1229', 'av0659', 'vb0218']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [12]:
# write your answer here
arr=[1, 2, 3, 4, 5, 3, 5]
duplicate_elements=[]
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i]==arr[j]:
            duplicate_elements.append(arr[i])
if len(duplicate_elements)==0:
    print("-1")
else:
    print(list(set(duplicate_elements)))

[3, 5]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [13]:
from datetime import date, timedelta

def sundays_of_year(year):
    sundays = []
    d = date(year, 1, 1)
    while d.year == year:
        if d.weekday() == 6:
            sundays.append(d)
        d += timedelta(days=1)
    return sundays

year = 2020
sundays = sundays_of_year(year)

print("All Sundays in", year, ":")
for sunday in sundays:
    print(sunday.strftime("%d-%m-%Y"))

All Sundays in 2020 :
05-01-2020
12-01-2020
19-01-2020
26-01-2020
02-02-2020
09-02-2020
16-02-2020
23-02-2020
01-03-2020
08-03-2020
15-03-2020
22-03-2020
29-03-2020
05-04-2020
12-04-2020
19-04-2020
26-04-2020
03-05-2020
10-05-2020
17-05-2020
24-05-2020
31-05-2020
07-06-2020
14-06-2020
21-06-2020
28-06-2020
05-07-2020
12-07-2020
19-07-2020
26-07-2020
02-08-2020
09-08-2020
16-08-2020
23-08-2020
30-08-2020
06-09-2020
13-09-2020
20-09-2020
27-09-2020
04-10-2020
11-10-2020
18-10-2020
25-10-2020
01-11-2020
08-11-2020
15-11-2020
22-11-2020
29-11-2020
06-12-2020
13-12-2020
20-12-2020
27-12-2020