<a href="https://colab.research.google.com/github/jeevankumar20/INFO_5731_Spring2023/blob/main/project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tweepy
import pandas as pd
# Twitter API credentials
consumer_key = "u7L1lnR7HN85dn1qnTFO1cegb"
consumer_secret = "QN1JrEmit2To46ZcwWAT4aI5QGWZXWRDDUPnMCWV5M66SFc8wT"
access_token = "1144377060036620294-BSEicX3zH7hIhksbNZV9mrWFwa07cO"
access_token_secret = "gxWMOodDq1nQAjix9mHEOUSAtgE7XH5ctHInm0XRslJce"


# Set up authentication with Twitter API using the provided credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Create the API object
api = tweepy.API(auth)

# Search for tweets containing any of the specified keywords
query = "#stockmarket OR #stocks OR #investing OR #finance OR #trading"
tweets = tweepy.Cursor(api.search_tweets, q=query, tweet_mode='extended').items(1000)

# Collect the relevant information (user_name, posted_time, and text) from each tweet
tweet_data = []
for tweet in tweets:
    user_name = tweet.user.screen_name
    posted_time = tweet.created_at
    text = tweet.full_text
    
    tweet_data.append([user_name, posted_time, text])

# Convert the collected tweet data to a pandas DataFrame
df = pd.DataFrame(tweet_data, columns=['User_name', 'Posted_time', 'Text'])

# Print the resulting DataFrame
print(df)

           User_name               Posted_time  \
0       Brad___James 2023-05-02 16:57:07+00:00
1         Wizards305 2023-05-02 16:57:07+00:00
2             Qlabe1 2023-05-02 16:57:06+00:00
3     Stellarium_STL 2023-05-02 16:57:05+00:00
4       lopezunwired 2023-05-02 16:57:04+00:00
..               ...                       ...
995      invrelation 2023-05-02 16:15:44+00:00
996        AriesFlow 2023-05-02 16:15:39+00:00
997    hamed92958644 2023-05-02 16:15:38+00:00
998   _Crypto_Alerts 2023-05-02 16:15:36+00:00
999  tharangaambagah 2023-05-02 16:15:36+00:00

                                                  Text
0    @CoachCWC Nice profits!!! #ADTfamily #StockMar...
1    @Jackaroo_Trades that loser blocked me LMAO! I...
2    RT @TheHamscalper: Today's $spy 5m chart.  Pic...
3    Syria ðŸ‡¸ðŸ‡¾ calls to abandon the US dollar for gl...
4    Finix becomes a payments processor, heating up...
..                                                 ...
995  Income ##stocks Offer You a Chance to Get Rich...
996  $SPX 05/17/24 $4650.00 PUT\n\nType: block\nTim...
997  Stay focused on your investment, and success w...
998  ðŸš¨ðŸš¨ðŸš¨ Crypto alert:\n\nâ€¢ Bollinger Bands Breakou...
999  Market update 2nd May. ASPI down by 3% turnove...

[1000 rows x 3 columns]

In [2]:
df['Text']

0      @CoachCWC Nice profits!!! #ADTfamily #StockMar...
1      @Jackaroo_Trades that loser blocked me LMAO! I...
2      RT @TheHamscalper: Today's $spy 5m chart.  Pic...
3      Syria ðŸ‡¸ðŸ‡¾ calls to abandon the US dollar for gl...
4      Finix becomes a payments processor, heating up...
                             ...
995    Income ##stocks Offer You a Chance to Get Rich...
996    $SPX 05/17/24 $4650.00 PUT\n\nType: block\nTim...
997    Stay focused on your investment, and success w...
998    ðŸš¨ðŸš¨ðŸš¨ Crypto alert:\n\nâ€¢ Bollinger Bands Breakou...
999    Market update 2nd May. ASPI down by 3% turnove...
Name: Text, Length: 1000, dtype: object

In [3]:
#COVID19
#pandemic
#marketimpact
#stockmarketnews
#politicalevents
#geopolitics
#trade
#economicpolicy
#monetarypolicy
#fiscalpolicy
#elections
#government
#marketvolatility
#uncertainty
#riskmanagement
#crisis
#financialcrisis
#globalmarkets
#macroeconomics
#economicindicators
#marketanalysis
#investmentstrategies

In [4]:
# Write your code here
# Importing libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import string
from nltk.corpus import stopwords
import nltk


# Importing the dataset
dt=df
dt['word_count'] = dt['Text'].apply(lambda x: len(str(x).split(" ")))

#Number of stop words
nltk.download('stopwords')
stop = stopwords.words('english')
dt['stopwords'] = dt['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))

#Number of special Characters
def count_special_chars(text):
    special_chars = string.punctuation + ' '  # include all !"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~ punctuation characters and space
    return sum([1 for char in text if char in special_chars])
dt['Special Characters'] = dt['Text'].apply(count_special_chars)

#Number of numerics
dt['numerics'] = dt['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

new=dt

dt.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,User_name,Posted_time,Text,word_count,stopwords,Special Characters,numerics
0,Brad___James,2023-05-02 16:57:07+00:00,@CoachCWC Nice profits!!! #ADTfamily #StockMar...,9,0,18,0
1,Wizards305,2023-05-02 16:57:07+00:00,@Jackaroo_Trades that loser blocked me LMAO! I...,16,4,27,0
2,Qlabe1,2023-05-02 16:57:06+00:00,RT @TheHamscalper: Today's $spy 5m chart. Pic...,25,5,32,0
3,Stellarium_STL,2023-05-02 16:57:05+00:00,Syria ðŸ‡¸ðŸ‡¾ calls to abandon the US dollar for gl...,28,4,42,0
4,lopezunwired,2023-05-02 16:57:04+00:00,"Finix becomes a payments processor, heating up...",18,4,32,0

In [5]:
#Coverting into LowerCase
new['Text'] = new['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
new['Text'].head()

0    @coachcwc nice profits!!! #adtfamily #stockmar...
1    @jackaroo_trades that loser blocked me lmao! i...
2    rt @thehamscalper: today's $spy 5m chart. pict...
3    syria ðŸ‡¸ðŸ‡¾ calls to abandon the us dollar for gl...
4    finix becomes a payments processor, heating up...
Name: Text, dtype: object

In [6]:
import re
import nltk
from nltk.corpus import stopwords

def clean_tweet(text):
    # Remove non-ASCII characters
    text = text.encode('ascii', 'ignore').decode()

    # Remove URLs
    text = re.sub(r'http\S+', '', text)

    # Remove special characters, symbols, and digits
    text = re.sub(r'[^\w\s]|[\d]', '', text)

    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()

    return text

new['Text'] = new['Text'].apply(clean_tweet)

# Removing Stopwords
stop = stopwords.words('english')
new['Text'] = new['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# After cleaning
new['word_count'] = new['Text'].apply(lambda x: len(str(x).split(" ")))

# Number of stop words
nltk.download('stopwords')
stop = stopwords.words('english')
new['stopwords'] = new['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))

# Number of special Characters
def count_special_chars(text):
    special_chars = string.punctuation  # include all !"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~ punctuation characters and space
    return sum([1 for char in text if char in special_chars])
new['Special Characters'] = new['Text'].apply(count_special_chars)

# Number of numerics
new['numerics'] = new['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

new1 = new
new.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,User_name,Posted_time,Text,word_count,stopwords,Special Characters,numerics
0,Brad___James,2023-05-02 16:57:07+00:00,coachcwc nice profits adtfamily stockmarket st...,9,0,0,0
1,Wizards305,2023-05-02 16:57:07+00:00,jackaroo_trades loser blocked lmao guess cant ...,10,0,1,0
2,Qlabe1,2023-05-02 16:57:06+00:00,rt thehamscalper todays spy chart picture one ...,15,0,0,0
3,Stellarium_STL,2023-05-02 16:57:05+00:00,syria calls abandon us dollar global transacti...,24,0,0,0
4,lopezunwired,2023-05-02 16:57:04+00:00,finix becomes payments processor heating compe...,11,0,0,0

In [7]:
#Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
new1['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    coachcwc nice profit adtfamili stockmarket sto...
1    jackaroo_trad loser block lmao guess cant hand...
2    rt thehamscalp today spi chart pictur one clou...
3    syria call abandon us dollar global transact a...
4    finix becom payment processor heat competit st...
Name: Text, dtype: object

In [8]:
#Lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')



new['Text'] = new['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
new['Text'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

0    coachcwc nice profit adtfamily stockmarket sto...
1    jackaroo_trades loser blocked lmao guess cant ...
2    rt thehamscalper today spy chart picture one c...
3    syria call abandon u dollar global transaction...
4    finix becomes payment processor heating compet...
Name: Text, dtype: object

In [9]:
new['Cleaned Tweets'] = new['Text']  # assign lemmatized 'Review Content' to new column
new[['Cleaned Tweets']].to_csv('datatweets.csv', index=False)  # save new column to CSV file